/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  font-size: 1em;
  line-height: 1.4;

  color: #222;
}

::-moz-selection {
  background: #B3D4FC;
  text-shadow: none;
}

::selection {
  background: #B3D4FC;
  text-shadow: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* SIDEBAR SECTION */

html,
body {
  height: 100%;

  background: #E6E6E6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 1rem;

  font-size: 1rem;
  font-weight: normal;

  color: #E6DB74;
}

p {
  margin: 0;
  margin-top: 1rem;
  padding-left: 2.5rem;
}

ul,
ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* SIDEBAR SECTION */

aside {
  display: inline-block;

  box-sizing: border-box;
  width: 20%;
  height: 100%;

  font-family: 'Helvetica', 'Arial', sans-serif;

  vertical-align: top;

  background: #E6E6E6;
  text-shadow: 2px 2px 2px #FFF;
}

aside h4 {
  margin: 0;
  padding: 10px 15px 0;

  font-size: 0.875rem;  /* 14/16 */

  letter-spacing: -0.06rem;
  text-transform: uppercase;

  color: #828282;
}

#menu li {
  padding: 0 20px;

  font-size: 0.875rem;  /* 14/16 */
  line-height: 1.7rem;

  cursor: pointer;
}

#menu li > a {
  display: inline-block;

  width: 100%;
}

#menu li > a::before {
  position: relative;
  top: -0.2rem;
  left: -0.4rem;

  display: inline-block;

  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.4rem;

  content: '';
  transition: -webkit-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition:         transform 0.2s ease;
  transition:         transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;

  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
}

#menu li.active {
  color: #FFF;
  outline: 1px solid #909090;
  background: -webkit-linear-gradient(bottom, #A0A0A0, #B5B5B5);
  background: linear-gradient(to top, #A0A0A0, #B5B5B5);
  text-shadow: none;
}

#menu li.active > a::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

#menu li.without-arrow > a::before {
  border-color: transparent;
}


/* MAIN CONTENT SECTION */

header {
  position: relative;

  height: 2.5rem;
  padding-top: 0.5rem;

  border-bottom: 1px solid #3C3D39;
  background: #171814;
}

header .tab {
  position: relative;
  left: 40px;

  width: 160px;
  height: 100%;
  padding: 0 20px;

  border: 1px solid #3C3D39;
  border-bottom: 1px solid transparent;
  border-radius: 14px 14px 0 0;
  background: -webkit-linear-gradient(bottom, #272822, #292929);
  background: linear-gradient(to top, #272822, #292929);
}

header:before,
header:after,
header .tab:before,
header .tab:after {
  position: absolute;
  bottom: 0;

  content: '';
}

header:before,
header:after {
  z-index: 1;
  bottom: -1px;

  width: 40px;
  height: 40px;

  border-bottom: 1px solid #3C3D39;
  background: #171814;
}

header:before {
  left: 2px;

  border-radius: 0 0 30px/40px 0;
}

header:after {
  left: 242px;

  height: 60px;

  border-radius: 0 0 0 40px/30px;
}

header .tab:before,
header .tab:after {
  width: 30px;
  height: 30px;

  background: #272822;
}

header .tab:before {
  left: -30px;
}

header .tab:after {
  right: -30px;
}

header .tab span {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 0.875rem;  /* 14/16 */
  line-height: 2.5rem;

  color: #FFF;
}

header .tab span.close-button {
  float: right;

  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, monospace;
}



main {
  display: inline-block;

  box-sizing: border-box;
  width: 80%;
  min-height: 100%;

  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, monospace;
  font-size: 1rem;
  line-height: 1rem;

  color: #66D9EF;
  background: #272822;
}

ol {
  float: left;

  margin: 0 1.25rem;

  list-style-type: none;
  /* Removing dot after list item number */

  counter-reset: item;
}

ol li {
  height: 1rem;

  color: #8F908A;
}

ol li:before {
  /* Removing dot after list item number */
  content: counter(item) ' ';
  counter-increment: item;
}

.toggleable-sections-container {
  padding: 0 2.5rem;
}

section {
  display: none;
}

section.active {
  display: block;
}

span.highlighted {
  color: #F92672;
}

span.variable {
  color: #AE81FF;
}


@media only screen and (max-width: 600px) {
  aside {
    display: none;
  }

  main {
    width: 100%;
    padding-top: 1.5rem;
  }

  main header,
  main ol {
    display: none;
  }

  section {
    display: block;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


.clearfix:before,
.clearfix:after {
  display: table;

  content: ' ';
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
